<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



 
<form th:object="${option}" th:action="@{/saveoption}" action="#" method="post">
<p th:text="'Add options to question: '+${questionText}"/>
<input type="hidden" id="questionId" name="questionId" th:value="${questionId}" readonly="readonly"/>
<input type="hidden" id="questionnaryId" name="questionnaryId" th:value="${questionnary}" readonly="readonly"/>
<label for="optionText">Option:</label>
<input type="text" id="optionText" th:field="*{optionText}" size="50"/>


<input type="submit" value="Save"/>

</form>
<div>
<table>
<tr>
<td>
<th:block th:each="option :${options}">
<a th:if="${option.question.type.typeText}=='Checkbox'"><input type="checkbox" name="opt" th:value="${option.optionId}"/><label th:text="${option.optionText}"></label></a>
<a th:if="${option.question.type.typeText}=='Radiobutton'"><input type="radio"  name="opt" th:value="${option.optionId}"/><label th:text="${option.optionText}"></label></a>

<!--  <a th:href="@{/delete/{id}(id=${option.optionId})}">Delete</a>-->
<br>

</th:block>
</td>
 


</tr>
</table>
</div>
<a th:href="@{/addquestion/{id}(id=${questionnary.questionnaryId})}">Save and review</a>

</body>
</html>


