<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Add options to question:</h1>

 
<form th:object="${option}" th:action="@{/saveoption}" action="#" method="post">

<input type="hidden" id="questionId" name="questionId" th:value="${questionId}" readonly="readonly"/>
<input type="hidden" id="questionnaryId" name="questionnaryId" th:value="${questionnary}" readonly="readonly"/>
<label for="optionText">Option:</label>
<input type="text" id="optionText" th:field="*{optionText}" size="50"/>


<input type="submit" value="Save"/>

</form>
<div>
<table>
<tr th:each="option :${options}">
<td th:text="${option.optionText}"></td>
<td> <a th:href="@{/delete/{id}(id=${option.optionId})}">Delete</a></td>


</tr>
</table>
</div>
<a th:href="@{/addquestion/{id}(id=${questionnary.questionnaryId})}">Save and review</a>

</body>
</html>


