<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
input{
display: block;
margin-bottom: 3px;
}
</style>
    <title>New Questions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add questions</h1>
<div>

	<form th:object="${question}" th:action="@{/savequestion}" action="#" method="post">
	
	<!-- Lisätään uusi kysymys kyselyyn, jonka id on pathvariablena -->
	<input type="hidden" id= "questionnaryid" name="questionnaryid" th:value="${questionnaryid}" readonly="readonly"/>
	<p>
	<!-- Lomakkeella pitää olla kyselyn ID Hidden kenttä jossa kylseyn ID -->

	<label for="questionText">Question:</label>
	<input type="text" id="questionText" th:field="*{questionText}" size="50"/>
	
	</p>
	
	<label for="type">Question type:</label>
	<select id="typelist" onchange="optionChange()" th:field="*{type}">
	<option th:each="type: ${types}" th:value="${type.typeId}" th:text="${type.typeText}"></option>
	</select>
	<br>
	<h3>Add options:</h3>
	</form>
	<form id="form" action="#"></form>
 	<button id="btn">Add option</button>
	
	
	<p id="demo"></p>
	<br>
	
	<script>
	function optionChange(){
		var x= document.getElementById("typelist").value;
		document.getElementById("demo").innerHTML="You selected "+ x ;
	
	}
	(function(){
		var counter=0;
		var btn=document.getElementById('btn');
		var form= document.getElementById('form');
		var addInput= function(){
			counter++;
			var input=document.createElement("input");
			input.ud='input-'+counter;
			input.type='text;'
			input.name = 'name';
		    input.placeholder = 'Input number ' + counter;
		    form.appendChild(input);
		  };
		  btn.addEventListener('click', function() {
		    addInput();
		  }.bind(this));
	})();
		
	
		
		
	
	</script>
	

	
	 <input type="submit" value= "Save"/>
	 
	
	</div>
	 <div>
	<ul th:each="question:${questions}">
	<li th:text="${question.questionText}"></li>
	</ul>
	
	
	</div>
	
<a href ="/questionnarylist">Return</a>

</body>
</html>