<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Questionnary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add new Questionnary</h1>
<div>
<p>
<form th:object="${questionnary}" id="myform" th:action="@{savequestionnary}" action="#" method="post">

<label for="header">Header</label>
<input type="text" id="header" th:field="*{header}" size="60"/>

<p>
<label for="description">Description</label>
<textarea id="description" th:field="*{description}" form="myform" rows="4" cols="60"></textarea>

</p>
<input type="submit" value="Tallenna">


	
</form>




</div>

</body>
</html>