<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Questions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add questions</h1>
<div>

	<form th:object="${question}" th:action="@{/savequestion}" action="#" method="post">
	
	<!-- Lisätään uusi kysymys kyselyyn, jonka id on pathvariablena -->
	<input type="hidden" id= "questionnaryid" name="questionnaryid" th:value="${questionnaryid}" readonly="readonly"/>
	<p>
	<!-- Lomakkeella pitää olla kyselyn ID Hidden kenttä jossa kylseyn ID -->

	<label for="questionText">Question:</label>
	<input type="text" id="questionText" th:field="*{questionText}" size="50"/>
	
	</p>
	
	
	
	
	 <input type="submit" value= "Save"/>
	 
	
	</form>
	</div>
	 <div>
	<ul th:each="question:${questions}">
	<li th:text="${question.questionText}"></li>
	</ul>
	
	
	</div>
	
<a href ="/questionnarylist">Return</a>

</body>
</html>