<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<style>
header {
  background-color: #ffffff;
  padding: 20px;
}
div {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>

<head>
<!-- <style>
input{
display: block;
margin-bottom: 3px;
}
</style>  -->
    <title>New Questions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header><h1>Add questions</h1></header>

<div>

	<form id="form1" th:object="${question}" th:action="@{/savequestion}" action="#" method="post">
	<p th:text="'Add questions to questionnaire: '+${questionnaryText}"/>
	
	<!-- Lisätään uusi kysymys kyselyyn, jonka id on pathvariablena -->
	<input type="hidden" id= "questionnaryid" name="questionnaryid" th:value="${questionnaryid}" readonly="readonly"/>
	<p>
	<!-- Lomakkeella pitää olla kyselyn ID Hidden kenttä jossa kylseyn ID -->
	
	
	<label for="questionText">Question:</label>
	<input type="text" id="questionText" th:field="*{questionText}" size="50"/>
	
	</p>
	
	 <label for="type">Question type:</label>
	<select id="typelist" th:field="*{type}">
	
	<option th:each="type: ${types}" th:value="${type.typeId}" th:text="${type.typeText}"></option>

</select>
<input type="submit" value="Save"/>

<!--   <input th:if="${type.typeText}=='Text'" type="submit" value= "Save"/>
	 <input th:if="${type.typeText}=='Checkbox'" type="submit" value= "Next"/>
	 <input th:unless="${type.typeText}=='Radiobutton'" type="submit" value="Next"/>-->

	</form>
</div>
	
<div>
	  <h3>Review:</h3>

	  <table>
	
		<th:block th:each="question:${questions}">
		<tr>
		<td th:text="'Question: '+ ${question.questionText}"></td>

		<td> <a th:href="@{/newoption/{id}(id=${question.questionId})}">Edit</a></td>
		</tr>
	
		<tr th:each="option:${question.options}">
	
	
	<td th:if="${option.question.type.typeText}=='Checkbox'">

	<input type="checkbox"  name="opt" th:value="${option.optionId}">
	<label th:text="${option.optionText}"></label>
	
	</td>
	
	<td th:if="${option.question.type.typeText}=='Radiobutton'">

	<input type="radio"   name="opt" th:value="${option.optionId}">
	<label th:text="${option.optionText}"></label>
	
	</td>
	
	<td th:if="${option.question.type.typeText}=='Text'">
	<input type="text" size="50"/>
	
	
		<!--  <td th:text="${option.optionText}"></td>-->
	</td>
		</tr>
	
	
	</th:block>
	
	</table>
</div> 

	
<a href ="/questionnarylist" class="btn btn-light">Return</a>

</body>
</html>