<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<style>
header {
  background-color: #ffffff;
  padding: 30px;
}
</style>

<head>
<title>Questions and Questionnairies</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<header><h1>Questionnairies</h1></header>
	<table class="table table-striped">
	<tbody>
	<tr>
	<td>Questionnaire ID</td>
	<td>Questionnaire name</td>
	<td>Questionnaire description</td>
	</tr>
	
	<tr th:each="questionnary:${questionnaries}">
	<td th:text="${questionnary.questionnaryId}"></td>
		<td th:text="${questionnary.header}"></td>
		<td th:text="${questionnary.description}"></td>
		<td><a th:href="@{/open/{id}(id=${questionnary.questionnaryId})}" class="btn btn-light">Open</a></td>
		<td><a th:href="@{/questionnarydelete/{id}(id=${questionnary.questionnaryId})}" class="btn btn-light">Delete</a></td>
		<td><a th:href="@{/addquestion/{id}(id=${questionnary.questionnaryId})}" class="btn btn-secondary">Add questions</a></td>
		</tr>
		
	
	</tbody>
	</table>
	
	<a href="/newquestionnary" class="btn btn-dark" >Add new questionnaire</a>
</body>
</html>