<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Questions and Questionnaries</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<h1>Questionnaries</h1>
	<table>
	<tbody>
	<tr>
	<td>Questionnary ID</td>
	<td>Questionnary name</td>
	<td>Questionnary description</td>
	</tr>
	
	<tr th:each="questionnary:${questionnaries}">
	<td th:text="${questionnary.questionnaryId}"></td>
		<td th:text="${questionnary.header}"></td>
		<td th:text="${questionnary.description}"></td>
		<td><a th:href="@{/open/{id}(id=${questionnary.questionnaryId})}">Open</a></td>
		<td><a th:href="@{/addquestion/{id}(id=${questionnary.questionnaryId})}">Add questions</a></td>
		</tr>
		
	
	</tbody>
	</table>
	
	<a href="/newquestionnary">Add new questionnary</a>
</body>
</html>