<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<title>Questions and Questionnairies</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<h1>Questionnairies</h1>
	<table>
	<tbody>
	<tr>
	<td>Questionnaire ID</td>
	<td>Questionnaire name</td>
	<td>Questionnaire description</td>
	</tr>
	
	<tr th:each="questionnary:${questionnaries}">
	<td th:text="${questionnary.questionnaryId}"></td>
		<td th:text="${questionnary.header}"></td>
		<td th:text="${questionnary.description}"></td>
		<td><a th:href="@{/open/{id}(id=${questionnary.questionnaryId})}">Open</a></td>
		<td><a th:href="@{/addquestion/{id}(id=${questionnary.questionnaryId})}">Add questions</a></td>
		</tr>
		
	
	</tbody>
	</table>
	
	<a href="/newquestionnary">Add new questionnaire</a>
</body>
</html>